@font-face { font-family: DM Sans; src: url('/assets/fonts/DMSans_18pt-Regular.ttf'); } 
      p {
         font-family: DM Sans
      }

@font-face { font-family: DM Serif Display; src: url('/assets/fonts/DMSerifDisplay-Regular.ttf'); } 
      h2 {
         font-family: DM Serif Display;
		 color: #333;
      }

.navbtn {
        padding: 6px;
        width: 90px;
        border: 1px solid #c9ada7;
        border-radius: 15px;
        color: #000;
        transition: background-color 0.3s;
        text-align: center;
        text-decoration: none;
        display: inline-block; 
    }

.navbtn:hover {
	background-color: #c9ada7;
	color: #fff;
}

.navbar {
	visibility: visible;
}

.menuline {
	width: 35px;
	height: 5px;
	background-color: darkgray;
	margin: 6px 0;
}

.dropdown-menu {
	display: none;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
  }
  
header {
	border-radius: 2px solid #000;
	color: #fff;
	text-align: left;
	width: 100%;
	display: flex;
  }
header h1 {
	display: inline-flex;
	align-items: center;
	margin-left: 10px;
  }	
  

nav {
	background-color: white;
	width: 100%;
  }

	nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	text-align: center;
  }

	nav li {
	margin-right: 10px;
  }

	nav a {
	padding: 5px 10px;

  }
  
	/* Home Page Container */
  .home-container > div {
	background-color: #f2e9e4;
	text-align: center;
	padding: 20px;
	font-size: 30px;
	border: 2px solid #000; /* Add a 2px solid black border */
	border-radius: 10px; /* Optional: Add border radius for rounded corners */
	z-index: 1;

  }

  .home-item > a > p {
	font-size: 15;
  }

  .home-item > a > h2 {
	color: #333;
  }

  .home-container-h2 {
	text-align: center;
	width: 100%;
  }
  
  .home-item-header {
	grid-column: 1/3;
	width: 100%;
	z-index: 50;
  }

  /* Contact Page Container */
  .contact-container > div {
	background-color: #f2e9e4;
	text-align: center;
	padding: 20px;
	font-size: 30px;
	border: 2px solid #000;
	border-radius: 10px;
	z-index: 1;

  }  
  .contact-item > p {
	font-size: 15;
  }

  .contact-item > h2 {
	color: #333;
  }

  .contact-container-h2 {
	text-align: center;
	width: 100%;
  }
  
  .contact-item-header {
	grid-row: 1/3;
	width: 100%;
	z-index: 50;
	padding: 20;
  }

  .contact-item-header > p{
	font-size: 20;
  }

  .contact-img {
	max-width: 60px;
	min-width: 50px;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
  }

  /* About Page Container */
  .about-container > div {
	background-color: #f2e9e4;
	text-align: center;
	padding: 20px;
	font-size: 30px;
	border: 2px solid #000;
	border-radius: 10px;
	z-index: 1;

  }  
  .about-item > p {
	font-size: 20;
  }

  .about-item > h2 {
	color: #333;
  }

  .about-container-h2 {
	text-align: center;
	width: 100%;
  }
  
  .about-item-header {
	grid-row: 1/3;
	width: 100%;
	z-index: 50;
	padding: 20;
  }

  .about-item-header > p{
	font-size: 11;
  }

  .about-img {
	max-width: 300px;
	min-width: 50px;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
  }


  /* Resume Page Container */
  .resume-container > div {
	background-color: #f2e9e4;
	text-align: center;
	padding: 20px;
	font-size: 30px;
	border: 2px solid #000;
	border-radius: 10px;
	z-index: 1;

  }  
  .resume-item-header > p {
	font-size: 15;
  }

  .resume-item-header > h2 {
	color: #333;
  }

  .resume-container-h2 {
	text-align: center;
	width: 100%;
  }
  
  .resume-item-header {
	grid-column: 1/3;
	width: 100%;
	z-index: 50;
	padding: 20;
  }

  .resume-item-header > p{
	font-size: 20;
  }

  .resume-img {
	max-width: 60px;
	min-width: 50px;
	max-height: 100%;
	margin-left: auto;
	margin-right: auto;
	display: block;
  }

  .stacked-text {
	display: flex;
	flex-direction: column;
	margin: 15px;
  }

  .stacked-text > h2 {
	font-size: 24;
  }

  .stacked-text > p {
	font-size: 14;
  }
  

footer {
	background-color: white;
	color: #fff;
	display: inline-flex;
	width: 100%;
	display: flex;
	justify-content: center;
	vertical-align: middle;
	height: 75px;
	box-shadow: 0px -10px 10px rgba(0, 0, 0, 0.1);
	position: fixed;
    bottom: 0px;
	padding: 20; 
  }
.footer-logo {
	position: absolute;
	left: 2%;
	width: 150px;
}

.footer-socials {
	display: flex;
    gap: 30px;
    align-items: center;
    position: absolute;
    transform: translateX(-50%);
}

.footer-socials a {
    display: inline-block;
}
.footer-copyright {
	position: absolute;
	right: 2%;
	color: black;
}

  /* Media Query for Mobile */
@media screen and (max-width: 768px) {
	/* Hides the navigation and asides in the mobile view */
	nav, aside {
		display: none;
	}
	.navbar {
		display: none;
	}

	.hamburgermenu {
		position: fixed;
		padding: 10px;
		right: 30px;
		z-index: 1000;
	}

	.dropdown-menu {
		position: relative;
		top: 0;
		height: 430px;
		width: 100%;
		right: 0;
		background-color: #fff;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
		
		border-bottom: 2px solid #EEEEEE;
	}
	
	.dropdown-menu ul {
		list-style: none;
		padding: 0;
		display: flex;
		flex-direction: column;
		text-align: center;
	}
	
	.dropdown-menu li {
		padding-top: 30px;
		padding-bottom: 30px;
		transition: background-color 0.3s;
		
		border-top: 2px solid #EEEEEE;
	}
	
	.dropdown-menu li:hover {
		background-color: #c9ada7;
	}
	
	.dropdown-menu a {
		color: #333;
		text-decoration: none;
		border-width: 0px;
		transition: color 0.3s;
	}
	
	.dropdown-menu a:hover {
		color: #c9ada7;
	}
	/* Home Page Container */
	.home-container {
		display: grid;
		gap: 20px;
		padding: 20px;
		position: relative;
		justify-items: center;
		align-items: center;
		width: 100%;
		z-index: 1;
	  }
	  
	  .home-item {
		grid-column: 1/3;
		border-radius: 10px;
		height: 150px;
		width: 100%;
	  }

	/* Contact Page Container */
	.contact-container {
		display: grid;
		gap: 20px;
		padding: 20px;
		position: relative;
		justify-items: center;
		align-items: center;
		width: 100%;
		height: 90%;
	  }
	  
	  .contact-item {
		border-radius: 10px;
		width: 100%;
		padding: 20px;
	  }

	  .contact-item-header {
		border-radius: 10px;
		width: 100%;
	  }


	  /* About Page Container */
	.about-container {
		display: grid;
		gap: 20px;
		padding: 20px;
		position: relative;
		justify-items: center;
		align-items: center;
		width: 100%;
		height: 90%;
	  }
	  
	  .about-item {
		border-radius: 10px;
		width: 100%;
		padding: 20px;
	  }
	
	  /* Resume Page Container */
	.resume-container {
		display: grid;
		gap: 20px;
		padding: 20px;
		position: relative;
		justify-items: center;
		align-items: center;
		width: 100%;
		height: 90%;
		z-index: 0;
	  }
	  
	  .resume-item {
		border-radius: 10px;
		width: 100%;
		padding: 20px;
	  }

	  .resume-item-header {
		border-radius: 10px;
		width: 100%;
	  }

	  .resume-inside-container {
		display: grid;
		gap: 50px;
		padding: 20px;
		grid-template-columns: auto;
		gap: 20;
		
		width: 100%;
	}

	.resume-inside-languages {
		display: grid;
		gap: 50px;
		padding: 20px;
		grid-template-columns: auto auto;
		gap: 20px;
		width: 100%;
		padding-bottom: 100px;
	}

	.resume-inside-item {
		display: inline-flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		height: 100%;
	}

	  .resume-item-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		height: 100%;
	  }

	.footer-socials {
		gap: 15px;
	}

	.footer-logo {
		position: absolute;
		left: 2%;
		max-width: 120px;
		min-width: 50px;
		max-height: 100%;
	}
	
	main {
		width: 100%;
		justify-items: center;
		align-items: center;
	}

	
}

  /* Media Query for Desktop */
  @media screen and (min-width: 768px) {

	main {
		width: 70%;
		margin: auto;
		height: 90%;
	  }

	.dropdown-menu {
		display: none;
	}

	.hamburgermenu {
		display: none;
	}
	.item-column {
		padding: 0px;
	  }

	/* Home Page Container */
	  .home-container {
		display: grid;
		gap: 50px;
		padding: 20px;
		grid-template-columns: auto auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
	  }
	
	  .home-item {
		border-radius: 10px;
		height: 200px;
	  }

	/* Contact Page Container */
	.contact-container {
		display: grid;
		gap: 50px;
		padding: 20px;
		grid-template-columns: auto auto;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		vertical-align: middle;
		justify-content: center;
		justify-content: center;
  		align-items: center;
	  }
	
	  .contact-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-width: 400px;
		border-radius: 10px;
		min-height: 250px;
	  }

	  .contact-item-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		height: 100%;
	  }

	  .contact-img {
		padding-bottom: 20px;
	  }

	  /* About Page Container */
	.about-container {
		display: grid;
		gap: 50px;
		padding: 20px;
		grid-template-columns: auto auto;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
	  }
	
	  .about-item {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-width: 400px;
		border-radius: 10px;
		height: 100%;
	  }

	  .about-img {
		padding-bottom: 20px;
	  }

	  /* Resume Page Container */
	.resume-container {
		display: grid;
		gap: 50px;
		padding: 20px;
		grid-template-columns: auto auto;
		position: absolute;
		top: calc(50% + 75px);
		left: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 90%;
		vertical-align: middle;
		justify-content: center;
		justify-content: center;
  		align-items: center;
	  }

	.resume-inside-container {
		display: grid;
		gap: 50px;
		padding: 20px;
		grid-template-columns: auto auto;
		gap: 20px;
	}

	.resume-inside-languages {
		display: grid;
		gap: 50px;
		padding: 20px;
		grid-template-columns: auto auto;
		margin-bottom: 50px;
	}

	.resume-inside-languages-item {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
	}

	.resume-inside-item {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
	}

	.resume-item-header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		border-radius: 10px;
		height: 100%;
	}
  }
